.view{
    width: fit-content;
    margin: auto;
    padding: 30px;
    border: black solid 1px;
}

td{
    padding: 10px;
}

.btn-edit{
    text-decoration: none;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 60%;
    background: blue;
}